<% title "Venue Locations" %>
<div class ="row">
  <div class = "span12">
    <%= form_tag venue_locations_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search], :class => 'search-query', :placeholder => 'Enter a suburb' %>
        <%= text_field_tag :radius, params[:radius], :id => 'filtered-pop', :class => 'search-query' %>
        <div id='population-range' style="width: 500px"></div>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
  </div>
</div>

<div class="row">


<div class="span7">

<%= gmaps4rails(@json) %>

</div>

<div class="span2">

</div>

<div class="span3">

<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for venue_location in @venue_locations %>
    <tr>
      <td><%= venue_location.address %></td>
      <td><%= venue_location.latitude %></td>
      <td><%= venue_location.longitude %></td>
      <td><%= link_to "Show", venue_location %></td>
      <td><%= link_to "Edit", edit_venue_location_path(venue_location) %></td>
      <td><%= link_to "Destroy", venue_location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Venu Location", new_venue_location_path %></p>

</div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    Gmaps.map.callback = function() {

      var PopulationFilter = {
        min: 1
      };

      // $( "#filtered-pop" ).val(PopulationFilter.min)
      $( "#filtered-pop" ).val("Enter radius in miles here..")
      $("#population-range").slider({
        range: false,
        min: PopulationFilter.min,
        values: [PopulationFilter.min],
        slide: function(event, ui) {
          $( "#filtered-pop" ).val(ui.values[ 0 ])
          PopulationFilter.min = ui.values[ 0 ]
          PopulationFilter.max = ui.values[ 1 ]
          applyFilters()
        }
      });

      var VisibleMarkers = function() {
      var filtered = _.reject(Gmaps.map.markers, function(marker) {
          return marker.population < PopulationFilter.min || marker.population > PopulationFilter.max;
        });
        return filtered
       }

      var applyFilters = function() {
        _.each(Gmaps.map.markers, function(marker) {
          Gmaps.map.hideMarker(marker)
        })
        _.each(VisibleMarkers(), function(marker) {
          Gmaps.map.showMarker(marker)
        })
      };
   }
});
</script>

