<style type="text/css">

.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 400px;

}

.gmaps4rails_map {
  width: 400px;
  height: 300px;

}

</style>


<form class="well span10">
<p id="notice"><%= notice %></p>

	<div class="row">
		<div class="span5">
			<h2 style="color: #F20C0C;"><%= @venue.name %></h2>
			<p><span class="label label-info"><%= @venue.tag_list %></span></p>
			<b>Address: </b><p><%= @venue.address %></p>

			<b>Description: </b><p><%= @venue.about %></p>

			<b>Phone: </b><p><%= @venue.phone %></p>

			<b>Website:</b> <p><%= auto_link @venue.website %></p>
			<b>Manager: </b><p><%= @venue.manager %></p>
		</div>

		<div class="span5">
			<%= gmaps4rails(@json) %>
		</div>
	</div>
</form>

<div class="well span6">
	<% if @venue.avatar? %>
	<p><%= image_tag @venue.avatar.thumb %></p>
	<% end %>
</div>


<div class ="well span10">
<%= simple_form_for(Enquirer.new) do |f| %>
  	<%= f.error_notification %>
	<h4>Contact <%= @venue.manager %></h4>
  <div class="row">
		<div class="span4">
			<%= f.input :name, :input_html => { :class => "span3"}, :placeholder => "Your name", :autofocus => true, :required => true %>
			<%= f.input :email, :input_html => { :class => "span3"}, :placeholder => "Your email",:required => true %>
		</div>
		<div class="span5">
			<%= f.input :message, :input_html => { :rows => 10, :class => "span5"}, :required => true %>
			<%= f.hidden_field 'recipient', :value => @venue.user_id %>
			<%= f.button :submit, 'Send Message', :class =>'btn btn-primary' %>
		</div>
	</div>

	<% end %>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
</form>






</div>



