<form class="well span10">
	<h2><%= @venue.name %></h2>
	<div class="row">
		<div class="span5">
			<p><span class="label label-info"><%= @venue.tag_list %></span></p>
			<b>Address: </b><p><%= @venue.address %></p>

			<b>Description: </b><p><%= @venue.about %></p>

			<b>Phone: </b><p><%= @venue.phone %></p>

			<b>Website:</b> <p><%= auto_link(@venue.website, :all, :target => '_blank') %></p>
			<b>Manager: </b><p><%= @venue.manager %></p>
		</div>

		<div class="span5">
			<% if @venue.avatar? %>
			<p><%= image_tag @venue.avatar.thumb %></p>
			<% end %>	
		</div>
	</div>
</form>

<div class="well span10">
	<%= gmaps4rails(@json) %>
</div>
<style>.map_container {width: 900px;} .gmaps4rails_map {width: 900px; height: 300px;}</style>

<div class ="well span10">
<%= simple_form_for(Enquirer.new) do |f| %>
  	<%= f.error_notification %>
	<h4>Contact <%= @venue.manager %></h4>
  <div class="row">
		<div class="span4">
			<%= f.input :name, :input_html => { :class => "span3"}, :placeholder => "Your name", :required => true %>
			<%= f.input :email, :input_html => { :class => "span3"}, :placeholder => "Your email",:required => true %>
		</div>
		<div class="span5">
			<%= f.input :message, :input_html => { :rows => 10, :class => "span5"}, :required => true %>
			<%= f.hidden_field 'recipient', :value => @venue.user_id %>
			<%= f.button :submit, 'Send Message', :class =>'btn btn-primary' %>
		</div>
	</div>

	<% end %>
</form>
</div>
