<form class="well span10">
<p id="notice"><%= notice %></p>

<h2><%= @venue.name %></h2>
	<p><span class="label label-info"><%= @venue.tag_list %></span></p>
	<div class="row">
		<div class="span4">
			<b>Location: </b><p><%= @venue.location %></p>

			<b>Description: </b><p><%= @venue.about %></p>

			<b>Phone: </b><p><%= @venue.phone %></p>

			<b>Website:</b> <p><%= auto_link @venue.website %></p>
			<b>Manager: </b><p><%= @venue.manager %></p>
		</div>

		<div class="span6">
			<p><%= image_tag @venue.avatar.thumb %></p>
		</div>
	</div>
</form>

<div class ="well span10">
<%= simple_form_for(Enquirer.new) do |f| %>
  	<%= f.error_notification %>
	<h4>Contact <%= @venue.manager %></h4>
  <div class="row">
		<div class="span4">
			<%= f.input :name, :input_html => { :class => "span3"}, :placeholder => "Your name", :autofocus => true, :required => true %>
			<%= f.input :email, :input_html => { :class => "span3"}, :placeholder => "Your email",:required => true %>
		</div>
		<div class="span5">
			<%= f.input :message, :input_html => { :rows => 10, :class => "span5"}, :required => true %>
			<%= f.hidden_field 'recipient', :value => @venue.user_id %>
			<%= f.button :submit, 'Send Message', :class =>'btn btn-primary' %>
		</div>
	</div>
	<% end %>
</div>


