<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SpotHunt" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SpotHunt" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <link href='http://fonts.googleapis.com/css?family=Sarina' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fresca' rel='stylesheet' type='text/css'>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <div id="container">
                <%= yield %>
             </div>
            </div>
          </div>
          <footer>
          </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <%= yield :scripts %>
  </body>
</html>
